html {
        width: 100%;
        height: 100%;
        background-color: #faaa79;
}

body {
        margin: 0;
        width: 100%;
        height: 100%;
}

#main {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: #faaa79;
}

#board {
        position: absolute;
        z-index: 5;
}

#ball {
        position: absolute;
        z-index: 10;
}

#score {
        position: absolute;
        z-index: 99;
        left: 10%;
        top: 10%;
        font-size: 30px;
}
